<app-modal *ngIf="showModal" [title]="modalTitle" [formData]="modalFormData" (onSubmit)="submitForm($event)">
  <app-title-section [title]="camping.name === '' ? 'Adicionar Camping' : camping.name">
    <div class="flex flex-wrap">


      <!-- Coluna de Conteúdo -->
      <section class="w-full md:w-1/2 p-4">
        <div>
          <label for="title" class="">Nome:</label>
          <input [(ngModel)]="camping.name" id="title" name="title" type="text"
            class="w-full p-2 border rounded-lg focus:outline-none focus:border-orangeDark text-black" />
        </div>
        <div class="mt-2">
          <label for="title" class="">Descrição:</label>
          <ckeditor class="resize-none w-full h-[194px] p-2 border rounded-lg text-black" [editor]="Editor"
            [(ngModel)]="camping.description" name="description"></ckeditor>
        </div>
        <div class="mt-2">
          <label for="rules" class="">Regras:</label>
          <ckeditor class="resize-none w-full h-[194px] p-2 border rounded-lg text-black" [editor]="Editor"
            [(ngModel)]="camping.propertyRules" name="propertyRules"></ckeditor>
        </div>
      </section>

      <!-- SEÇÃO IMAGENS -->
      <section class="w-full md:w-1/2 p-4">
        <!-- GALERIA CAMPING -->
        <div class="flex flex-col items-center">
          <label for="camping">Galeria do Camping</label>
          <label for="camping"
            class="block text-center text-sm text-white py-2 px-4 rounded-md border-0 font-regular bg-blueDark hover:bg-blue-950 cursor-pointer mt-4">
            <input type="file" id="camping" hidden (change)="onChangeArquivo($event)" />
            Adicionar imagem
          </label>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div *ngFor="let imageUrl of imgUrl"
              class="relative flex flex-col items-center hover:scale-125 transition-all duration-300 mt-4">
              <img [src]="imageUrl" alt="" class="w-40 h-auto" />
              <button type="button" (click)="removeImage(imageUrl)"
                class="absolute top-[-15px] right-0 p-2 text-red-500 hover:text-red-700 mt-2">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- FOTO AEREA -->
        <div class="flex flex-col items-center mt-4">
          <label for="areaImage">Foto Aérea</label>

          <label for="areaImage"
            class="block text-center text-sm text-white py-2 px-4 rounded-md border-0 font-regular bg-blueDark hover:bg-blue-950 cursor-pointer mt-4">
            <input type="file" id="areaImage" hidden (change)="onChangeFotoAerea($event)" />
            Adicionar imagem
          </label>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div *ngIf="areaImageUrl"
              class="relative flex flex-col items-center hover:scale-125 transition-all duration-300 mt-4">
              <img [src]="areaImageUrl" alt="" class="w-40 h-auto" />
              <button type="button" (click)="removeAreaImage()"
                class="absolute top-[-15px] right-0 p-2 text-red-500 hover:text-red-700 mt-2">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
        </div>
      </section>



      <div class="items-center md:flex-row justify-end md:mr-0 md:justify-between gap-3 mt-6 md:mt-0 w-full">
        <button (click)="cancel()"
          class="border border-red-600 text-red-600 px-4 py-2 mt-2 rounded-md hover:bg-red-800 hover:text-white transition duration-300 ease-in-out bg-transparent">
          Cancelar
        </button>
        <button [class.opacity-50]="isEditMode" [class.cursor-not-allowed]="isEditMode" [disabled]="isEditMode"
          (click)="submit()"
          class="bg-blueDark text-white mx-2 px-4 py-2 mt-2 rounded-md hover:brightness-110 transition duration-300 ease-in-out">
          Cadastrar
        </button>
        <button *ngIf="isEditMode" (click)="submit()"
          class="bg-blueMid text-white px-4 py-2 mt-2 rounded-md hover:brightness-110 transition duration-300 ease-in-out">
          Salvar
        </button>
      </div>
    </div>
  </app-title-section>
</app-modal>


<!-- Seção de Botões -->
<section class="manage-buttons mx-auto mt-7 mb-4 border w-3/4 bg-[#E5E5E5] p-4 rounded shadow-lg">
  <div class="flex flex-row justify-between items-end">
    <div class="flex flex-row space-x-2 items-center">
      <button
        class="bg-greenDark flex items-center py-2 text-white rounded-lg w-[5.5rem] h-35 hover:brightness-110 transition duration-300 ease-in-out justify-center text-center"
        (click)="openModal()">
        <i class="fa fa-sm fa-plus mr-2" aria-hidden="true"></i>
        Novo
      </button>
      <button
        class="bg-red-600 flex items-center py-2 text-white rounded-lg w-[5.5rem] h-35 hover:brightness-110 transition duration-300 ease-in-out justify-center text-center"
        (click)="deleteSelectedCampings()">
        <i class="fa fa-sm fa-trash mr-2" aria-hidden="true"></i>
        Deletar
      </button>
    </div>
    <!-- <div class="flex space-x-2">
      <button
        class="bg-orangeDark flex items-center py-2 text-white rounded-lg w-[5rem] h-35 hover:brightness-110 transition duration-300 ease-in-out justify-center text-center">Importar</button>
      <button
        class="bg-blueMid flex items-center py-2 text-white rounded-lg w-[5rem] h-35 hover:brightness-110 transition duration-300 ease-in-out justify-center text-center">Exportar</button>
    </div> -->
  </div>
</section>
<!-- Seção listagem -->
<section class="camping-table mx-auto mt-7 mb-4 border w-3/4 bg-[#E5E5E5] p-4 rounded shadow-lg">
  <h2 class="text-2xl font-bold mb-4">Lista de Campings</h2>

  <!-- Linha divisória -->
  <hr class="my-4 border-t-2 border-grays5" />

  <ng-template #campingsList>
    <table class="mt-32" id="tabela">
      <thead>
        <tr>
          <th></th>
          <th class="text-grays4 text-left">Nome</th>
          <th class="text-grays4">Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of campings">
          <td class="rounded-s-[5px]">
            <img *ngIf="item.images.length > 0" [src]="item.images[0].url" alt="Imagem do card"
              class="h-12 w-20 object-cover rounded-[5px]" />
          </td>
          <td class="my-4 items-left">{{ item.name }}</td>
          <td class="my-4 text-xs text-right">
            {{ isActiveStatus(item.active) }}
          </td>
          <td class="my-4 rounded-e-[5px]">

            <button (click)="openModal()" (click)="edit(item)" class="text-[#F8931F] ml-4 hover:brightness-75">

              <i class="fas fa-pencil-alt"></i>
            </button>
            <button (click)="delet(item.id)" class="text-[#F8931F] mx-4 hover:brightness-75">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>

  <div *ngIf="loading; else campingsList" class="mt-4 text-center">
    <app-loading-skeleton width="800px" height="200px">
      Carregando campings...
    </app-loading-skeleton>
  </div>
</section>