.search-adventure {
    margin-top: 2rem;
}

.bg-card-explore{
    border-radius: 5px;
   
    height: 30rem;
}
.container-card-explore {
    margin-top: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CARD IMG SECTION NOVIDADES */
.card img {
    object-fit: cover;
    width: 400px;
    height: 235px;
}

.card-explore {
    display: flex;
    margin-top: 10rem;
    border-radius: 5px;
    opacity: 85%;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    height: 22rem;
    width: 60rem;
    padding: 4rem;
}

/* CONTAINER PRINCIPAL COM POSICIONAMENTO NOVO CONTEUDO HOME */

.relative2{
    margin-top: 20rem;
}


/* CARD SEJA UM AFILIADO */

.text {
    height: 40px; /* Altura do texto */
    /* background-color: rgba(0, 0, 0, 0.7) !important; */
}

img {
    max-width: 100%; 
    height: auto; 
}

.fc-event {
    background-color: #333333;
    color: #ffffff;
  }
  