/* CONTAINER PRINCIPAL COM POSICIONAMENTO NOVO CONTEUDO HOME */



.container-card-explore {
  display: flex;
  margin-top: -14rem;
  justify-content: center;
  /* border: 2px solid red; */
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  cursor: context-menu;
}

.card:hover {
  transform: matrix(1.00, 0.00, 0.00, 1.00, 0, -7);
  transition: 300ms;
}

p {
  display: flex;
  text-align: justify;
  text-align: center;
}

.card-explore {
  display: flex;
  object-fit: cover;
  opacity: 85%;
  align-items: center;
  height: max-content;
  width: 60rem;
  padding: 1rem;
}

.image-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  -webkit-text-stroke: 0.6px black;
  /* contorno preto com 2 pixels de largura (para navegadores WebKit como Chrome e Safari) */
  color: white;
  /* cor do texto */
}


/* Style das abas */
.tablinks {
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  padding: 0.4rem;
  width: 100%;
  height: 60px;
}

/* Estilos para telas médias (tablets e laptops com telas médias) */
@media only screen and (max-width: 767px) {
  .container-card-explore {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .tablinks {
    width: 100%;
    height: 5rem;
    font-size: small;
  }

  span {
    margin-bottom: 4px;
  }

  /* Estilos para os ícones dentro do tablinks */
  span {
    position: relative;
    top: 0;
    /* Reseta a posição vertical */
    transform: none;
    /* Reseta a transformação vertical */
  }

  

  .card-explore {
    width: 100%;
    overflow-x: auto;
  }

  .image-scroll-container {
    white-space: nowrap;
  }

  .image-scroll-container img {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .image-title {
    font-size: 7px;
  }
}


.image-scroll-container {
  overflow-x: auto;
  /* Habilita o scroll horizontal */
  white-space: nowrap;
  /* Faz com que os elementos filhos fiquem na mesma linha */
  width: 100%;
  /* Garante que o container ocupa 100% da largura disponível */
}

/* Estilo para os itens dentro do scroll horizontal */
.image-scroll-container img {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-right: 10px;
}

/* CARD IMG SECTION NOVIDADES */
.card img {
  object-fit: cover;
  width: 400px;
  height: 235px;
}

@media only screen and (max-width: 400px) {
  .container-card-explore {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .tablinks {
    width: 90%;
    height: 5rem;
    font-size: small;
  }

  .background{
    width: 97%;
  }
}