<body>
    <header class="my-60">
        <app-header></app-header>
    </header>
    <section class="">
       
            <h1 id="welcome-message" class="mb-4 text-center font-medium">
              
                   Encontre experiências em campings para <br>motorhomes, trailers e campers.  <br><br>
                   É simples, rápido e econômico!
              
            </h1>
       
        <div class="relative z-10">

            <div>
                <section class="flex flex-col items-center justify-center text-center mb-2">
                
                    <btn-filled class="filled">+ Nova Reserva</btn-filled>

                </section>
                <section class="container mx-auto px-4 py-8">
                    <!-- <h3 class="text-3xl font-semibold mb-3 text-center">Campings em destaque:</h3> -->
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                        <div class="relative">
                            <a href="pagina-de-campings.html" class="group">
                                <img src="../../../assets/img/campings/pomerode.jpg" alt="imagem camping Pomerode"
                                    class="w-full h-auto transform transition-transform group-hover:brightness-70">
                            </a>
                            <div
                                class="absolute inset-x-0 bottom-0 flex flex-col items-center p-4 bg-opacity-70 bg-black">
                                <div class="flex items-center justify-between mb-2 w-full">
                                    <h3 class="text-white text-lg font-semibold">Pomerode</h3>
                                    <div class="flex items-center">
                                        <img src="../../../assets/icons/fullstar-icon.svg" alt="" srcset=""
                                            class="w-4 h-4 text-yellow-500 mr-1">
                                        <span class="text-yellow-500 text-sm">4.5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="relative">
                            <a href="pagina-de-campings.html" class="group">
                                <img src="../../../assets/img/campings/pomerode.jpg" alt="imagem camping Pomerode"
                                    class="w-full h-auto transform transition-transform group-hover:brightness-70">
                            </a>
                            <div
                                class="absolute inset-x-0 bottom-0 flex flex-col items-center p-4 bg-opacity-70 bg-black">
                                <div class="flex items-center justify-between mb-2 w-full">
                                    <h3 class="text-white text-lg font-semibold">Pomerode</h3>
                                    <div class="flex items-center">
                                        <img src="../../../assets/icons/fullstar-icon.svg" alt="" srcset=""
                                            class="w-4 h-4 border-opacity-50 text-yellow-500 mr-1">
                                        <span class="text-yellow-500 text-sm">4.5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="relative">
                            <a href="pagina-de-campings.html" class="group">
                                <img src="../../../assets/img/campings/pomerode.jpg" alt="imagem camping Pomerode"
                                    class="w-full h-auto transform transition-transform group-hover:brightness-70">
                            </a>
                            <div
                                class="absolute inset-x-0 bottom-0 flex flex-col items-center p-4 bg-opacity-70 bg-black">
                                <div class="flex items-center justify-between mb-2 w-full">
                                    <h3 class="text-white text-lg font-semibold">Pomerode</h3>
                                    <div class="flex items-center">
                                        <img src="../../../assets/icons/fullstar-icon.svg" alt="" srcset=""
                                            class="w-4 h-4 border-opacity-50 text-yellow-500 mr-1">
                                        <span class="text-yellow-500 text-sm">4.5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="relative">
                            <a href="pagina-de-campings.html" class="group">
                                <img src="../../../assets/img/campings/pomerode.jpg" alt="imagem camping Pomerode"
                                    class="w-full h-auto transform transition-transform group-hover:brightness-70">
                            </a>
                            <div
                                class="absolute inset-x-0 bottom-0 flex flex-col items-center p-4 bg-opacity-70 bg-black">
                                <div class="flex items-center justify-between mb-2 w-full">
                                    <h3 class="text-white text-lg font-semibold">Pomerode</h3>
                                    <div class="flex items-center">
                                        <img src="../../../assets/icons/fullstar-icon.svg" alt="" srcset=""
                                            class="w-4 h-4 border-opacity-50 text-yellow-500 mr-1">
                                        <span class="text-yellow-500 text-sm">4.5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="relative">
                            <a href="pagina-de-campings.html" class="group">
                                <img src="../../../assets/img/campings/pomerode.jpg" alt="imagem camping Pomerode"
                                    class="w-full h-auto transform transition-transform group-hover:brightness-70">
                            </a>
                            <div
                                class="absolute inset-x-0 bottom-0 flex flex-col items-center p-4 bg-opacity-70 bg-black">
                                <div class="flex items-center justify-between mb-2 w-full">
                                    <h3 class="text-white text-lg font-semibold">Pomerode</h3>
                                    <div class="flex items-center">
                                        <img src="../../../assets/icons/fullstar-icon.svg" alt="" srcset=""
                                            class="w-4 h-4 border-opacity-50 text-yellow-500 mr-1">
                                        <span class="text-yellow-500 text-sm">4.5</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </section>
    
</body>