<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button
              pButton
              pRipple
              label="Novo Camping"
              icon="fa fa-plus"
              class="p-button-success mr-2"
              (click)="openNew()"
            ></button>
            <button
              pButton
              pRipple
              label="Excluir"
              icon="fa fa-trash"
              class="p-button-danger"
              (click)="deleteSelectedCampings()"
              [disabled]="!selectedCampings || !selectedCampings.length"
            ></button>
          </div>
        </ng-template>
      </p-toolbar>
      <div class="flex flex-col gap-5" *ngIf="_loading.isLoading">
        <div class="flex items-center w-full h-32 mt-10 gap-5">
          <app-skeleton mode="square" size="90px"></app-skeleton>
          <app-skeleton width="12rem" height="2rem"></app-skeleton>
          <div class="flex flex-wrap w-1/2 gap-3">
            <app-skeleton width="6rem" height="2rem"></app-skeleton>
            <app-skeleton width="7rem" height="2rem"></app-skeleton>
            <app-skeleton width="6rem" height="2rem"></app-skeleton>
            <app-skeleton width="8rem" height="2rem"></app-skeleton>
            <app-skeleton width="6rem" height="2rem"></app-skeleton>
            <app-skeleton width="4rem" height="2rem"></app-skeleton>
            <app-skeleton width="6rem" height="2rem"></app-skeleton>
            <app-skeleton width="5rem" height="2rem"></app-skeleton>
            <app-skeleton width="6rem" height="2rem"></app-skeleton>
            <app-skeleton width="6rem" height="2rem"></app-skeleton>
            <app-skeleton width="7rem" height="2rem"></app-skeleton>
          </div>
          <app-skeleton mode="circle" size="30px"></app-skeleton>
          <app-skeleton mode="circle" size="30px"></app-skeleton>
        </div>
        <div class="flex items-center w-full h-32 mt-10 gap-5">
          <app-skeleton mode="square" size="90px"></app-skeleton>
          <app-skeleton width="14rem" height="2rem"></app-skeleton>
          <div class="flex flex-wrap w-1/2 gap-3">
            <app-skeleton width="6rem" height="2rem"></app-skeleton>
            <app-skeleton width="7rem" height="2rem"></app-skeleton>
            <app-skeleton width="6rem" height="2rem"></app-skeleton>
            <app-skeleton width="8rem" height="2rem"></app-skeleton>
            <app-skeleton width="6rem" height="2rem"></app-skeleton>
            <app-skeleton width="4rem" height="2rem"></app-skeleton>
            <app-skeleton width="6rem" height="2rem"></app-skeleton>
            <app-skeleton width="5rem" height="2rem"></app-skeleton>
            <app-skeleton width="6rem" height="2rem"></app-skeleton>
            <app-skeleton width="6rem" height="2rem"></app-skeleton>
            <app-skeleton width="7rem" height="2rem"></app-skeleton>
          </div>
          <app-skeleton mode="circle" size="30px"></app-skeleton>
          <app-skeleton mode="circle" size="30px"></app-skeleton>
        </div>
        <div class="flex items-center w-full h-32 mt-10 gap-5">
          <app-skeleton mode="square" size="90px"></app-skeleton>
          <app-skeleton width="12rem" height="2rem"></app-skeleton>
          <div class="flex flex-wrap w-1/2 gap-3">
            <app-skeleton width="7rem" height="2rem"></app-skeleton>
            <app-skeleton width="7rem" height="2rem"></app-skeleton>
            <app-skeleton width="5rem" height="2rem"></app-skeleton>
            <app-skeleton width="6rem" height="2rem"></app-skeleton>
            <app-skeleton width="10rem" height="2rem"></app-skeleton>
            <app-skeleton width="2rem" height="2rem"></app-skeleton>
            <app-skeleton width="6rem" height="2rem"></app-skeleton>
            <app-skeleton width="5rem" height="2rem"></app-skeleton>
            <app-skeleton width="12rem" height="2rem"></app-skeleton>
            <app-skeleton width="12rem" height="2rem"></app-skeleton>
            <app-skeleton width="7rem" height="2rem"></app-skeleton>
          </div>
          <app-skeleton mode="circle" size="30px"></app-skeleton>
          <app-skeleton mode="circle" size="30px"></app-skeleton>
        </div>
      </div>
      <p-table
        #dt
        *ngIf="!_loading.isLoading"
        [value]="campings"
        responsiveLayout="stack"
        [rows]="10"
        [globalFilterFields]="['name', 'rules']"
        [paginator]="true"
        [rowsPerPageOptions]="[10, 20, 30]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="{first} até {last} de {totalRecords} registros"
        [(selection)]="selectedCampings"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="id"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-between md:items-center"
          >
            <h5 class="m-0">Administrar Campings</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="fa fa-search"></i>
              <input
                pInputText
                type="text"
                (input)="onGlobalFilter(dt, $event)"
                placeholder="Pesquisar..."
                class="w-full sm:w-auto"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>

            <th>Imagem</th>
            <th pSortableColumn="name">
              Nome <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th>Facilidades</th>
            <th pSortableColumn="active">
              Status <p-sortIcon field="active"></p-sortIcon>
            </th>
            <th>Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-camping>
          <tr>
            <td>
              <p-tableCheckbox [value]="camping"></p-tableCheckbox>
            </td>

            <td
              style="min-width: 10rem"
              [ngClass]="{ 'text-red-700': !camping.active }"
            >
              <span class="p-column-title">Image</span>
              <img
                *ngIf="camping.images.length > 0"
                [src]="camping.images[0].image.url"
                width="100"
                class="shadow-4"
              />
            </td>
            <td
              style="min-width: 10rem"
              [ngClass]="{ 'text-red-700': !camping.active }"
            >
              <span class="p-column-title">Nome</span>
              {{ camping.name }}
            </td>
            <td [ngClass]="{ 'text-red-700': !camping.active }">
              <div class="flex gap-2 flex-wrap">
                <div
                  class="border rounded p-1"
                  *ngFor="let rule of getRules(camping.propertyRules)"
                >
                  <i class="fa {{ rule.icon }}"></i>
                  {{ rule.name }}
                </div>
              </div>
            </td>
            <td style="min-width: 10rem">
              <i
                class="fa-regular fa-circle-check fa-xl"
                style="color: #0b655b"
                *ngIf="camping.active"
              ></i>
              <i
                class="fa-regular fa-circle-xmark fa-xl"
                style="color: #db0000"
                *ngIf="!camping.active"
              ></i>
            </td>
            <td>
              <div class="flex">
                <button
                  pButton
                  pRipple
                  icon="fa fa-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="editCamping(camping)"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="fa fa-trash"
                  class="p-button-rounded p-button-warning"
                  (click)="deleteCamping(camping)"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!-- Modal Novo Cadastro / Editar -->
    <p-dialog
      [(visible)]="campingDialog"
      [modal]="true"
      class="p-fluid"
      [maximizable]="true"
      [style]="{ width: '50vw', height: '90vh' }"
      [breakpoints]="{ '900px': '90vw' }"
    >
      <ng-template pTemplate="content">
        <div class="flex justify-between gap-5">
          <div class="w-full">
            <label for="name" class="font-bold">Nome</label>
            <input
              type="text"
              pInputText
              id="name"
              [(ngModel)]="camping.name"
              required
              autofocus
              [ngClass]="{ 'ng-invalid ng-dirty': submitted && !camping.name }"
            />
            <small
              class="ng-dirty ng-invalid"
              *ngIf="submitted && !camping.name"
              >Nome do Camping é obrigatório.</small
            >
          </div>
          <div class="flex flex-col align-start justify-end">
            <label for="status">Status</label>
            <p-inputSwitch [(ngModel)]="camping.active"></p-inputSwitch>
          </div>
        </div>
        <div class="mt-2">
          <label for="title" class="font-bold">Descrição:</label>
          <ckeditor
            class="resize-none w-full h-[194px] p-2 border rounded-lg text-black"
            [editor]="Editor"
            [(ngModel)]="camping.description"
            name="description"
          ></ckeditor>
        </div>
        <div class="flex-auto">
          <label for="integeronly" class="font-bold"
            >Valor Mínimo (Para exibição na tela de listagem)</label
          >
          <p-inputNumber
            inputId="integeronly"
            [(ngModel)]="camping.baseValue"
            mode="currency"
            currency="BRL"
          >
          </p-inputNumber>
        </div>
        <div class="relative flex flex-col mt-2">
          <label class="font-bold">Facilidades:</label>
          <p-multiSelect
            [options]="rules"
            [(ngModel)]="selectedMulti"
            placeholder="Selecione as opções"
            optionLabel="name"
            [showClear]="true"
            [filter]="true"
            display="chip"
            class="relative multiselect-custom mw-100"
          >
            <ng-template let-value pTemplate="selectedItems">
              <div
                class="inline-flex align-items-center gap-2 px-1"
                *ngFor="
                  let option of value;
                  let i = index;
                  trackBy: trackByFunction
                "
              >
                <i
                  [class]="'border rounded p-2 mt-1 fa fa-solid ' + option.icon"
                ></i>
              </div>
              <div *ngIf="!value || value.length === 0">
                Selecione as opções
              </div>
            </ng-template>
            <ng-template let-rule pTemplate="item">
              <div class="flex align-items-center gap-2">
                <i [class]="'mt-1 fa fa-solid ' + rule.icon"></i>
                <div>{{ rule.name }}</div>
              </div>
            </ng-template>
          </p-multiSelect>
        </div>
        <div class="flex flex-col md:flex-row gap-3">
          <div class="field w-1/2 grid mt-3">
            <label class="font-bold">Galeria de Imagens:</label>
            <p-multiSelect
              [options]="images"
              [(ngModel)]="camping.images"
              placeholder="Selecione as imagens da Galeria"
              optionLabel="name"
              [showClear]="true"
              class="relative multiselect-custom mw-100"
            >
              <ng-template let-value pTemplate="selectedItems">
                <div
                  class="inline-flex align-items-center gap-2 px-1"
                  *ngFor="
                    let option of value;
                    let i = index;
                    trackBy: trackByFunction
                  "
                >
                  <img
                    [src]="option.image.url"
                    class="w-12 aspect-video mt-1"
                  />
                </div>
                <div *ngIf="!value || value.length === 0">
                  Selecione as opções
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="flex items-center gap-2">
                  <img [src]="item.image.url" class="w-36 aspect-video mt-1" />
                  <span>{{ item.image.name }}</span>
                </div>
              </ng-template>
            </p-multiSelect>
          </div>
          <div class="field grid mt-3">
            <label class="font-bold">Imagem aérea</label>
            <p-dropdown
              [options]="images"
              [(ngModel)]="camping.areaImage"
              placeholder="Selecione a imagem aérea"
              optionValue="image.url"
              optionLabel="image.name"
              class="relative multiselect-custom mw-100"
            >
              <ng-template pTemplate="selectedItem">
                <img [src]="camping.areaImage" class="w-12 aspect-video mt-1" />
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="flex items-center gap-2">
                  <img [src]="item.image.url" class="w-48 aspect-video mt-2" />
                  <span>{{ item.image.name }}</span>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
        </div>
        <div class="field grid mt-3">
          <label class="font-bold">Categorias:</label>
          <p-multiSelect
            [options]="categories"
            [(ngModel)]="camping.categories"
            placeholder="Selecione as Categorias"
            optionLabel="category.name"
            [filter]="true"
            display="chip"
            [showClear]="true"
            class="relative multiselect-custom mw-100"
          >
          </p-multiSelect>
        </div>

        <div>
          <div class="flex flex-col md:flex-row w-full gap-3 mt-2">
            <div class="w-full md:w-1/3">
              <label class="font-bold">CEP</label>
              <p-inputMask
                [(ngModel)]="camping.address.zipCode"
                mask="99.999-999"
                (ngModelChange)="verifyCep()"
              ></p-inputMask>
            </div>
            <div class="w-full">
              <label class="font-bold">Rua</label>
              <input pInputText [(ngModel)]="camping.address.street" required />
            </div>
            <div class="">
              <label class="font-bold">Número</label>
              <input
                pInputText
                [(ngModel)]="camping.address.num"
                #numeroInput
              />
            </div>
          </div>
          <div class="flex flex-col md:flex-row w-full gap-3">
            <div class="field col-12 sm:col-4">
              <label class="font-bold">Bairro</label>
              <input
                pInputText
                [(ngModel)]="camping.address.district"
                required
              />
            </div>
            <div class="field col-12 sm:col-5">
              <label class="font-bold">Cidade</label>
              <input pInputText [(ngModel)]="camping.address.city" required />
            </div>
            <div class="field col-12 sm:col-3">
              <label class="font-bold">Estado</label>
              <input pInputText [(ngModel)]="camping.address.state" required />
            </div>
          </div>
          <div>
            <label class="font-bold">País</label>
            <p-dropdown
              [options]="countries"
              [(ngModel)]="selectedCountry"
              optionLabel="name"
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              placeholder="Selecione um país"
            >
              <ng-template pTemplate="selectedItem">
                <div
                  class="flex align-items-center gap-2"
                  *ngIf="selectedCountry"
                >
                  <img
                    [src]="getUrlFlag(selectedCountry.code.toLowerCase())"
                    style="width: 18px"
                  />
                  <div>{{ selectedCountry.name }}</div>
                </div>
              </ng-template>
              <ng-template let-country pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <img [src]="getUrlFlag(country.code)" style="width: 18px" />
                  <div>{{ country.name }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="field col-12 sm:col-5 lg:col-5">
            <label class="font-bold">Complemento</label>
            <input pInputText [(ngModel)]="camping.address.complement" />
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Cancelar"
          icon="fa fa-times"
          class="p-button-text"
          (click)="hideDialog()"
        ></button>
        <button
          pButton
          pRipple
          label="Salvar"
          icon="fa fa-check"
          class="p-button-text"
          [disabled]="!camping.name"
          (click)="saveProduct()"
        ></button>
      </ng-template>
    </p-dialog>

    <!-- Modal Confirmação Deletar UM -->
    <p-dialog
      [(visible)]="deleteCampingDialog"
      header="Confirm"
      [modal]="true"
      [style]="{ width: '450px' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="fa fa-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="camping"
          >Tem certeza que deseja excluir o camping <b>{{ camping.name }}</b
          >?</span
        >
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="fa fa-times"
          class="p-button-text"
          label="Não"
          (click)="deleteCampingDialog = false"
        ></button>
        <button
          pButton
          pRipple
          icon="fa fa-check"
          class="p-button-text"
          label="Sim"
          (click)="confirmDelete(camping.id)"
        ></button>
      </ng-template>
    </p-dialog>

    <!-- Modal Confirmação Deletar Todos -->
    <p-dialog
      [(visible)]="deleteCampingsDialog"
      header="Confirm"
      [modal]="true"
      [style]="{ width: '450px' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="fa fa-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Tem certeza que deseja excluir os registros selecionados?</span>
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="fa fa-times"
          class="p-button-text"
          label="Não"
          (click)="deleteCampingsDialog = false"
        ></button>
        <button
          pButton
          pRipple
          icon="fa fa-check"
          class="p-button-text"
          label="Sim"
          (click)="confirmDeleteSelected()"
        ></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
