<header>

  <div class="flex justify-start items-start w-9 
  bg-white cursor-pointer bg-opacity-80 rounded-2xl ml-5 mt-1 hover:brightness-90 p-3" routerLink="/">
    <i class="fa fa-chevron-left cursor-pointer" aria-hidden="true"></i>
  </div>
  <div class="flex justify-center w-100 p-2">
    <a routerLink="/">
      <img src="../../../assets/img/LogoWtext.svg" alt="Logo" />
    </a>
  </div>
</header>
<div class="flex justify-center items-center top-7 p-1">
  <form class="mt-7 items-center">
    <div class="flex flex-col mb-4">
      <label class="font-semibold">Login</label>
      <input id="email" type="text"
        class="border rounded-lg h-12 w-314 px-3 mt-1 focus:outline-none focus:border-orangeDark text-black"
        [(ngModel)]="credentials.email" name="email" />
    </div>
    <div class="flex flex-col mb-4">
      <label class="font-semibold">Senha</label>
      <input id="password" type="password"
        class="border rounded-lg h-12 w-314 px-3 mt-1 focus:outline-none focus:border-orangeDark text-black"
        [(ngModel)]="credentials.password" name="password" />
      <div class="flex items-center mt-1">
        <button id="btn-reset" routerLink="/reset-password" class="text-left text-10 ml-1 hover:bg-blue-200">
          <b>Esqueci minha senha</b>
        </button>
      </div>
      <div class="text-left mt-4">
        <input type="checkbox" name="keepLogged" id="keepLogged" [(ngModel)]="keepLogged" />
        <label for="keepLogged" class="cursor-pointer hover: text-12">
          Manter conectado
        </label>
      </div>
    </div>

    <btn-filled label="Entrar" [customColor]="'greenDark'" class="h-12 w-314 items-center" (click)="onSubmit()">
    </btn-filled>

    <div class="flex items-center mt-1">
      <div class="text-left text-12">Não possui cadastro?</div>
      <button id="btn-register" routerLink="/create-account" class="text-left text-10 ml-1 hover:bg-blue-200">
        <b>Clique aqui!</b>
      </button>
    </div>
    <div class="mt-2 mb-3 text-center text-15 font-semibold">OU</div>
    <btn-outline id="btn-google" label="Entrar com Google" class="h-55 w-314 items-center" [addMarginBottom]="true">
      <img src="../../../assets/icons/google-icon.svg" alt="google-icon" />
    </btn-outline>
    <btn-filled id="btn-facebook" label="Entrar com Facebook" class="h-55 w-314 mt-3 items-center hover"
      [customColor]="'blueDark'" [addMarginBottom]="true">
      <img src="../../../assets/icons/facebook-icon.svg" alt="facebook-icon" />
    </btn-filled>
    <button id="btn-apple" label=""
      class="h-55 w-314 mt-3 bg-grays1 flex items-center py-2 text-white rounded-lg gap-3 text-18 hover:brightness-110 transition duration-300 ease-in-out justify-center text-center font-bold">
      <img src="../../../assets/icons/apple-icon.svg" alt="apple-icon" />
      Entrar com Apple
    </button>
    <button></button>
  </form>
</div>