<app-header></app-header>
<div class="flex justify-start items-start w-9 
          bg-white cursor-pointer bg-opacity-80 rounded-2xl ml-5 mt-28 mb-7 hover:brightness-90 p-3" routerLink="/">
  <i class="fa fa-chevron-left cursor-pointer" aria-hidden="true"></i>
</div>

<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <mat-tab label="CAMPINGS">
    <app-create-camping></app-create-camping>
  </mat-tab>
  <mat-tab label="POSTS"> <app-posts></app-posts> </mat-tab>
  <mat-tab label="LEADS"> <app-leads></app-leads></mat-tab>
</mat-tab-group>