<header class="fixed top-0 left-0 right-0 h-30 bg-gray-500 bg-opacity-90 p-4 flex justify-between items-center z-50">
    <div class="flex items-center">
        <a>
            <img src="../../../assets/img/Logo.svg" alt="Logo" class="w-30 h-35 top-3">
        </a>
        <a>
            <img src="../../../assets/img/turistaText.svg" alt="Logo" class="w-30 h-30">
        </a>
        <p>Campings de Sonho, Viagens sem Limites...</p>
    </div>
    <div class="flex items-center">
        <a routerLink="/login" class="text-red-600 no-underline hover:text-red-800 hover:underline">Login</a>
    </div>
</header>