/* CSS para o header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
  transition: top 0.3s ease;
}

/* CSS para o botão de hambúrguer */
button.md:hidden {
  position: absolute;
  top: 10px;
  left: 30px;
  background-color: transparent;
  z-index: 1000;
  color: white;
}

/* Posição do menu quando está aberto */
nav {
  position: fixed;
  top: 50px;
  left: 0; /* Ajuste para a esquerda da tela */
  width: 100%;
  height: 40px;
  background-color: #695252;
  z-index: 999;
  transition: top 0.3s ease, left 0.3s ease; /* Adicione a transição para a propriedade "left" */
}

/* Oculte o menu quando não estiver aberto */
nav:not(.active) {
  top: -100px;
  left: -100%; /* Posicione fora da tela */
}

/* Posição do menu quando está aberto */
nav.active {
  top: 100px;
  left: 0; /* Posicione à esquerda da tela */
  width: 100%;
  height: 100px;
}

/* Ajuste o posicionamento dos itens do menu aberto */
nav.active ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0; /* Remova as margens para centralizar horizontalmente */
  padding: 0; /* Remova o preenchimento */
}

nav.active li {
  list-style-type: none;
  margin: 0 20px; /* Espaço igual entre os itens do menu */
}

nav.active a {
  color: #000000;
  text-decoration: none;
}

nav.active a:hover {
  color: #F9931F;
}

/* Estilo para a opção "Entrar" na navbar */
nav.active a[href="/login"] {
  margin-left: auto;
}
