.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  left: 0;
  top: 5px;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px #333;
  width: 90%;
  max-height: 85%;
  padding: 24px;
  z-index: 11;
  overflow-y: auto;

  /* Center the modal content */
  position: relative;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

