<app-header></app-header>

<body>
  <!-- <div class="flex justify-start items-start w-10">
    <a routerLink="/" class="bg-white bg-opacity-80 rounded-2xl ml-2 mt-28 hover:brightness-90 hover:no-underline p-3"
      style="width: 90;">
      <img src="../../../assets/icons/arrow-back.svg" alt="arrow-back">
    </a>
  </div> -->

  <div *ngIf="camping">
    <img
      *ngIf="camping.images && camping.images.length > 0"
      [src]="camping.images[0].url"
      class="carousel-image"
    />

    <div class="camping-details">
      <div class="section-heading">{{ camping.name }}</div>
      <div class="description">
        <p>
          Descrição do camping. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Sed condimentum quam eu lacinia iaculis.
        </p>
      </div>

      <hr
        class="border-b-0 border-t border-gray-500/10 my-6 md:my-8 col-content bg-grey-200"
        data-testid="divider"
      />

      <div class="section-heading">Características da Acomodação</div>
      <div class="features">
        <i class="fas fa-wifi"></i>Wi-Fi gratuito<br />
        <i class="fas fa-shower"></i>Banheiros compartilhados<br />
        <i class="fas fa-car"></i>Estacionamento gratuito<br />
      </div>

      <!-- <ckeditor [editor]="Editor" [(ngModel)]="teste"></ckeditor> -->

      <!-- <div [innerHTML]="camping.propertyRules"></div> -->

      <hr
        class="border-b-0 border-t border-gray-500/10 my-6 md:my-8 col-content bg-grey-200"
        data-testid="divider"
      />

      <div class="section-heading">Regras e Políticas</div>
      <div class="policies">
        <i class="fas fa-clock"></i>Check-in a partir das 14:00<br />
        <i class="fas fa-clock"></i>Check-out até às 11:00<br />
        <i class="fas fa-paw"></i>Animais de estimação não permitidos<br />
      </div>

      <hr
        class="border-b-0 border-t border-gray-500/10 my-6 md:my-8 col-content bg-grey-200"
        data-testid="divider"
      />
    </div>
  </div>
</body>
<!-- ngFor pra listar os box  -->
