<app-header routerLink="/" class="cursor-pointer"></app-header>

<div class="max-w-5xl m-auto">
  <section class="mt-28">
    <p-carousel
      *ngIf="camping.images"
      [value]="camping.images"
      [circular]="true"
      [autoplayInterval]="3000"
      [showIndicators]="false"
      class="h-[30vh] md:h-[60vh] block"
    >
      <ng-template let-image pTemplate="item">
        <div class="flex justify-center">
          <img
            [src]="image.url"
            class="object-cover h-[30vh] md:h-[60vh] rounded-3xl shadow-xl"
          />
        </div>
      </ng-template>
    </p-carousel>

    <div class="mt-4">
      <div class="text-4xl text-center w-full font-bold mb-8">
        {{ camping.name }}
      </div>
      <div class="flex-1 description mb-5 text-gray-800">
        <div [innerHTML]="camping.description"></div>
      </div>
    </div>

    <div class="section-heading text-lg font-bold mb-2.5 ml-5">
      Regras e Políticas
    </div>
    <div class="flex flex-wrap gap-4">
      <div
        class="card w-[120px] h-[120px] hover:bg-zinc-200 grow"
        style="padding: 15px"
        *ngFor="let rule of getRules"
      >
        <div class="flex flex-col justify-center items-center h-full">
          <i class="fa {{ rule.icon }}"></i>
          <span class="text-center">{{ rule.name }}</span>
        </div>
      </div>
    </div>
    <div class="flex justify-center items-center">
      <div class="w-[50%]">
        <p-button
          class="mt-4"
          label="Verificar Disponibilidade"
          icon="fa fa-calendar"
          iconPos="right"
          (click)="visible = true"
        ></p-button>
      </div>
    </div>
    <h3 *ngIf="camping.areaImage" class="text-center mt-7">
      Visão aérea do camping
    </h3>
    <div
      *ngIf="camping.areaImage"
      class="flex justify-center items-center mb-7"
    >
      <img [src]="camping.areaImage" alt="" class="h-[400px] object-cover" />
    </div>
  </section>
</div>

<!-- modal -->

<p-dialog
  [(visible)]="visible"
  [modal]="true"
  class="w-[90vw] md:w-[50vw]"
  [draggable]="false"
  [resizable]="false"
>
  <div class="flex flex-col gap-3 w-full h-full">
    <p-calendar
      class="w-full"
      [(ngModel)]="selectionDate"
      (onSelect)="onSelectDate($event)"
      [inline]="true"
      selectionMode="range"
    ></p-calendar>
    <div class="flex gap-5 grow justify-center">
      <p-chip
        *ngIf="dataEntrada"
        [label]="'Check-in: ' + getFormatedDate(dataEntrada)"
        icon="fa fa-calendar-plus"
      ></p-chip>
      <p-chip
        *ngIf="dataSaida"
        [label]="'Check-out: ' + getFormatedDate(dataSaida)"
        icon="fa fa-calendar-minus"
      ></p-chip>
    </div>
    <div class="flex flex-col justify-center items-center mt-4">
      <h6>Selecione um tipo de Veículo</h6>
      <div class="flex justify-center w-full">
        <div
          class="flex justify-center items-center text-white h-10 rounded-sm cursor-pointer bg-[#1da7e0] p-4 w-52"
          [style]="
            tipoVeiculo === 'MotorHome' ? 'background-color: #1278bf' : ''
          "
          (click)="tipoVeiculo = 'MotorHome'"
        >
          MotorHome
        </div>
        <div
          class="flex justify-center items-center text-white h-10 rounded-sm cursor-pointer bg-[#1da7e0] p-4 w-52"
          [style]="tipoVeiculo === 'Trailer' ? 'background-color: #1278bf' : ''"
          (click)="tipoVeiculo = 'Trailer'"
        >
          Trailer
        </div>
      </div>
    </div>
    <div class="lg:flex lg:justify-center lg:items-center mt-4">
      <p-button
        label="Confirmar Data"
        icon="fa fa-arrow-right"
        iconPos="right"
        (click)="verificarDisponibilidade()"
      ></p-button>
    </div>
  </div>
</p-dialog>
