#tabela {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  overflow-x: auto; /* responsividade telas menores */
  border-collapse: separate;  /* espaçamento entre as linhas */
  border-spacing: 0 10px; /* espaçamento entre as linhas needed */
}


#tabela th{
  padding: 6px;
  text-align: start;
}

#tabela tr:not(:last-child) {
  margin-bottom: 10px; /* cria espaçamento entre as linhas */
}

#tabela td {
  border: 1px solid white; /* borda apenas nos cantos da linha*/
  background-color: white;
  padding: 6px;
  /* min-width: 100px; */
  text-align: start;
}
