<section class="bg-white p-4">
    <header>
        <div class="flex justify-start items-start w-9 bg-white cursor-pointer bg-opacity-80 rounded-2xl ml-5 mt-1 hover:brightness-90 p-3"
            routerLink="/login">
            <i class="fa fa-chevron-left cursor-pointer" aria-hidden="true"></i>
        </div>
        <div class="flex items-center justify-center w-full mb-4">
            <h2 class="text-2xl font-semibold mb-4">Recuperar Senha</h2>
        </div>
    </header>


    <div class="bg-white p-8 rounded-lg shadow-md w-96 mx-auto mt-4">
        <p class="text-sm text-gray-600 mb-4">
            Nós enviaremos um e-mail com as instruções para resetar sua senha. 
            <br>
            <br>
            Por favor, verifique sua caixa de entrada e <b>spam</b>.
        </p>
        <form>
            <!-- Email Input -->
            <div class="mb-4">
            
                <input type="email" id="email" name="email"
                    class="w-full border rounded-md px-4 py-2 focus:outline-none focus:border-orangeDark text-black"
                    placeholder="Digite seu email">
            </div>

            <!-- Botão de Envio -->
            <button type="submit"
                class="w-full bg-greenDark text-white rounded-md px-4 py-2 focus:outline-none hover:bg-orangeLight">
                Enviar Link de Recuperação
            </button>
        </form>
    </div>
</section>