<header>
  <div class="flex z-50 p-4 mb-5 justify-between w-10">
    <div class="flex items-start">
      <a routerLink="/login" class="text-red-600 no-underline hover:text-red-800 hover:no-underline p-3">
        <img src="../../../assets/icons/arrow-back.svg" alt="arrow-back">
      </a>
    </div>
    <div class="flex items-center">
      <h1 class="font-bold font-18px">Cadastro</h1>
    </div>
  </div>
</header>
<form (ngSubmit)="createAccount()" class="w-full max-w-md mx-auto">
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2">
      Estrangeiro?
    </label>
    <div class="flex items-center">
      <label for="toggle" (click)="toggleDocumentType()" class="toggle-switch bg-grays7 w-41 h-24 rounded-full p-1">
        <div class="flex items-center">
          <div [class]="isPassport ? 'toggle-dot bg-blueDark w-4 h-4 rounded-full ml-4' : 'toggle-dot bg-blueDark w-4 h-4 rounded-full'"></div>
          <span class="absolute ml-10 font-semibold" [class.hidden]="isPassport">Não</span>
          <span class="absolute ml-10 font-semibold" [class.hidden]="!isPassport">Sim</span>

        </div>
     </label>
    </div>    
  </div>
  
  <div class="mb-4">
    <label for="firstName" class="block text-gray-700 text-sm font-bold mb-2">Nome</label>
    <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName" required
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
  </div>

  <div class="mb-4">
    <label for="lastName" class="block text-gray-700 text-sm font-bold mb-2">Sobrenome</label>
    <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName" required
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
  </div>

  <div class="mb-4">
    <label for="documentNumber" class="block text-gray-700 text-sm font-bold mb-2">
      {{ isPassport ? 'Passaporte' : 'CPF' }}
    </label>
    <input type="text" id="documentNumber" name="documentNumber" [(ngModel)]="user.documentNumber" required
      [ngClass]="{ 'cpf-mask': !isPassport, 'passport-mask': isPassport }"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
  </div>

  <div class="mb-4">
    <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
    <input type="email" id="email" name="email" [(ngModel)]="user.email" required
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
  </div>

  <div class="mb-4">
    <label for="confirmEmail" class="block text-gray-700 text-sm font-bold mb-2">Confirme o Email</label>
    <input type="email" id="confirmEmail" name="confirmEmail" [(ngModel)]="confirmEmail" required
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
  </div>

  <div class="mb-4">
    <label for="whatsapp" class="block text-gray-700 text-sm font-bold mb-2">WhatsApp</label>
    <input type="tel" id="whatsapp" name="whatsapp" [(ngModel)]="user.whatsapp" required
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
  </div>

  <div class="mb-4">
    <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Senha</label>
    <input type="password" id="password" name="password" [(ngModel)]="user.password" required
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
  </div>

  <div class="mb-4">
    <label for="confirmPassword" class="block text-gray-700 text-sm font-bold mb-2">Confirme a Senha</label>
    <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
  </div>

  <div class="mb-4">
    <label for="rvGreeting" class="block text-gray-700 text-sm font-bold mb-2">RV Greeting</label>
    <input type="text" id="rvGreeting" name="rvGreeting" [(ngModel)]="user.rvGreeting" required
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
  </div>

  <div class="mb-4">
    <label for="rvPlate" class="block text-gray-700 text-sm font-bold mb-2">RV Plate</label>
    <input type="text" id="rvPlate" name="rvPlate" [(ngModel)]="user.rvPlate" required
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
  </div>

  <div class="mb-4">
    <label for="towPlate" class="block text-gray-700 text-sm font-bold mb-2">Tow Plate</label>
    <input type="text" id="towPlate" name="towPlate" [(ngModel)]="user.towPlate" required
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
  </div>

  <div class="mb-4">
    <label for="isCaravanist" class="block text-gray-700 text-sm font-bold mb-2">Você é um Caravanista?</label>
    <select id="isCaravanist" name="isCaravanist" [(ngModel)]="user.isCaravanist" required
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      <option value="Yes">Sim</option>
      <option value="No">Não</option>
    </select>
  </div>

  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2">Tipo de Veículo</label>
    <div class="flex">
      <label for="motorhome" class="mr-2">
        <input type="radio" id="motorhome" name="vehicleType" value="Motorhome" [(ngModel)]="user.vehicleType">
        Motorhome
      </label>
      <label for="trailer" class="mr-2">
        <input type="radio" id="trailer" name="vehicleType" value="Trailer" [(ngModel)]="user.vehicleType"> 
        Trailer
      </label>
      <label for="camper" class="mr-2">
        <input type="radio" id="camper" name="vehicleType" value="Camper" [(ngModel)]="user.vehicleType"> 
        Camper
      </label>
      <label for="roofTent">
        <input type="radio" id="roofTent" name="vehicleType" value="Roof Tent" [(ngModel)]="user.vehicleType"> 
        Barrca de Teto
      </label>
    </div>
  </div>

  <div class="mb-4">
    <label for="acceptedPrivacyPolicy" class="block text-gray-700 text-sm font-bold">
      <input type="checkbox" id="acceptedPrivacyPolicy" name="acceptedPrivacyPolicy" [(ngModel)]="acceptedPrivacyPolicy"
        required>
      Estou de acordo com os termos de uso.
    </label>
  </div>

  <div class="mb-4">
    <btn-filled id="btn-submit" type="submit"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
      Criar Conta
    </btn-filled>
  </div>
</form>