<!-- <header>
    <title>
        <strong>POLÍTICA DE PRIVACIDADE, COOKIES, PROTEÇÃO DE DADOS.</strong>
    </title>
</header>

<section class="text-justify">
    <header class="">
        <h2>
            <strong>POLÍTICA DE PRIVACIDADE, COOKIES, PROTEÇÃO DE DADOS.</strong>
        </h2>
    </header>
        <p>
            A TuristaRV é uma plataforma digital de cobrança e estacionamentos para veículos de recreação, motorhomes, trailers, campers, barracas de teto, etc denominados como RVs,  que oferece a experiência de autonomia e  liberdade, estimulando o desejo dos viajantes de conhecer novos destinos, culturas ou simplesmente por estar de passagem, através de tecnologia inovadora e com economia. 
        </p>
        <p>
            Os termos e condições da <strong>Politica de Privacidade, Cookies e Proteção de Dados</strong>, estão com conformidade com a Lei Civil,  com a Lei Geral de Proteção de Dados (“Lei nº 13.709/18” ou “LGPD”), e com as demais leis  brasileiras relacionadas.
        </p>
        <p>
            A plataforma digital de cobrança e estacionamento tem o compromisso de proteger a privacidade e a segurança de todas as Informações Confidenciais que tratamos para prestar serviços aos nossos clientes, e assim reafirmar nosso compromisso com as informações que coletamos dos usuários da plataforma digital sendo ela através do portal plataforma turistarv, site/app, e WhatsApp.
        </p>
        <p>
            O simples acesso ao site e aplicativo, bem como a utilização dos serviços implicará a aceitação desta política de privacidade, cookies e das práticas descritas abaixo.
        </p>
        <p>
            A presente política abrange o tratamento que o portal e a plataforma dá às informações capazes de identificar os usuários, sejam as coletadas diretamente em seu Portal na Internet, sejam armazenadas em suas bases de dados eletrônicos por outros meios de coleta, tais como cadastros preenchidos em meio físico ou consultas ao serviço de atendimento telefônico ao cliente.
        </p>
        <p>
            Esta política não se aplica às empresas/estacionamentos que a TuristaRV não controla ou não forneça todos os materiais necessários para o seguro e perfeito funcionamento dos estacionamentos, ou a indivíduos que não sejam anfitriões e/ou contratados pela plataforma turistarv e site/app, ou seja, a TuristaRV não se responsabiliza pelos atos, anúncios e conteúdo gerados por nossos parceiros comerciais e redes de anúncio.
        </p>
        <p>
            A plataforma TuristaRV, site e aplicativo contém acesso a links para outros sites externos, tais como restaurantes, eventos, festas, entre outros, cujos conteúdos e políticas de privacidade não são de responsabilidade da TuristaRV. Assim recomendamos que, ao ser redirecionado para sites externos, os usuários deverão consultar sempre as respectivas políticas de privacidade antes de fornecer seus dados ou informações.
        </p>
        <p>
            Vale lembrar que os dados básicos de registro de acesso às Plataformas, incluindo, mas não limitado, a endereço IP da conexão de origem, com data e hora, serão conservados pelo período mínimo de 06 (seis) meses.
        </p>

        <h3>Para fins desta Política, devem ser observadas as seguintes considerações:</h3>
        <p>
            A TuristaRV, tanto pelo site quanto pela plataforma digital coleta informações pessoais, capazes de identificar os usuários, quando:
        </p>
        <ul>
            <li>cadastram-se no nosso portal ou aplicativo,</li>
            <li>participam de nossas promoções ou concursos, e</li>
            <li>quando entram em contato conosco pelos canais de atendimento ao usuário.</li>
        </ul>
        <p>
            Entretanto, fica a critério dos usuários fornecê-los ou não.
        </p>
        <p>
            Fornecendo os dados no site ou no aplicativo, os usuários garantem a veracidade e exatidão dos dados pessoais fornecidos, de modo que a TuristaRV não tem qualquer responsabilidade no caso de inserção de dados falsos ou inexatidão dos dados pessoais introduzidos pelo usuário.
        </p>
        <p>
            O usuário que introduzir seus dados pessoais identificáveis poderá, a qualquer momento alterar, corrigir e remover como for conveniente para este, bastando, para tanto, fazê-las através de seu próprio cadastro no site. 
        </p>
        <p>
            Fica desde já o usuário ciente, que caso forneça seus dados por e-mail ou por WhatsApp a TuristaRV não se responsabiliza pela segurança destas informações, por se tratar de um ambiente sem os requisitos adequados de segurança, eximindo-se assim, de quaisquer responsabilidades quanto à privacidade das informações, correção, alteração ou remoção de dados.
        </p>
        <p>
            O usuário que dispor de dados de carácter pessoal pertencentes a terceiros, no site ou no aplicativo deverá estar devidamente autorizado, devendo informar expressamente aos titulares de ditos dados sobre os direitos e/ou obrigações aqui contidos, reconhecendo a veracidade, exatidão, vigência, atualização e autenticidade de ditos dados.
        </p>
        <p>
            Nós nos reservamos o direito de suspender ou cancelar, a qualquer momento, o acesso do usuário em caso de suspeita de fraude, obtenção de benefício ou vantagem de forma ilícita, ou pelo não cumprimento de quaisquer condições previstas nestes Termos de Uso, na Política de Privacidade ou na legislação aplicável. Nesses casos, não será devida qualquer indenização ao usuário, e a TuristaRV poderá promover a competente ação de regresso, se necessário, bem como tomar quaisquer outras medidas necessárias para perseguir e resguardar seus interesses.
        </p>
        <p>
            A plataforma, site/aplicativo da TuristaRV recebe e armazena automaticamente, através de cookies e tecnologias semelhantes, informações em seus servidores, com o fim de aumentar a segurança e exibir anúncios relevantes, incluindo a opção de aceitá-los ou recusá-los.
        </p>
        <p>
            Estes cookies são pequenas quantidades de informações inseridos automaticamente no Dispositivo ao visitar a maioria dos sites. Eles são armazenados pelo seu navegador e contém informações básicas sobre o seu uso da internet. O navegador recupera esses cookies todas as vezes que você acessa um site novamente, para que seu Dispositivo seja reconhecido e sua experiência aprimorada, entre outras coisas, com conteúdo personalizado, e que nos ajudam  a entender suas preferências.
        </p>
        <p>
            Acesse o link <a href="#">“Permissão para uso de cookies”</a>. Além disso, é possível gerenciar os cookies nas configurações do seu navegador. Você pode habilitar o navegador para enviar uma notificação ao receber um novo cookie, para excluir cookies individuais ou para excluir todos eles, todavia neste caso, o acesso a alguns recursos e áreas do portal e da plataforma poderá ser prejudicado ou restringido.
        </p>
        <p>
            A entrada de dados pessoais do usuário na plataforma, site e app, bem como a aceitação de cookies de navegação, não constituem requisito para navegar pelo mesmo, sendo facultativo o seu fornecimento. O usuário que decide dar entrada a seus dados pessoais declara conhecer e aceitar os termos da presente.
        </p>
        <p>
            Qualquer informação fornecida pelos usuários será armazenada e usaremos nossos melhores esforços na manutenção da confidencialidade, integridade e disponibilidade das informações que nos forem fornecidas. Todavia, o usuário é consciente da possibilidade de que a segurança das comunicações eletrônicas são vulneráveis.
        </p>
        <p>
            O usuário permite e aprova expressamente que todos os seus dados podem ser utilizados diretamente pela TuristaRV ou compartilhadas com terceiros, sendo anfitriões e/ou qualquer outro estabelecimento parceiro, como por exemplo, fornecer serviços e venda de produtos de outras plataformas, operadoras de cartão de crédito e/ou outras plataformas de pagamento, entre outros, com os que firmemos acordos de colaboração e/ou aos provedores das mesmas e de sistemas, com os seguintes propósitos:
        </p>
        <ul>
            <li>cadastrar e gerenciar sua conta, incluindo permissão para acessar e utilizar nossos Serviços, e facilitar as reservas;</li>
            <li>informar a respeito de novos estacionamentos e estabelecimentos parceiros por meio de diferentes tecnologias;</li>
            <li>enviar  notificações sobre anúncios, ofertas, links e/ou promoções especiais nossos e de nossos afiliados ou estabelecimentos parceiros de forma personalizada de que possam ser do interesse do usuário;</li>
            <li>aperfeiçoar a usabilidade e a experiência interativa durante a navegação do usuário no site e no aplicativo, fornecendo ao usuário, conteúdos relevantes;</li>
            <li>analisar o uso dos nossos serviços, aprimorar nossos serviços e tornar mais seguro o uso dos nossos websites, e fornecer anúncios ou recomendações contextualizados;</li>
            <li>elaborar estatísticas gerais, sem que haja identificação dos usuários;</li>
            <li>estabelecer comunicações com os usuários;
        <ul> -->
