<footer class="flex justify-center items-center bg-grays5 rounded-t-md mt-2 p-3 h-37 mx-2">
    <section class="p-2 max-w-screen-lg mx-auto w-full">

        <div class="flex items-center mb-12">
            <p class="text-justify">
                <b>TURISTARV</b> é uma plataforma que conecta pessoas a destinos incríveis. Nela você encontra
                hospedagens
                e experiências, com conveniências como reservas, facilidades de pagamento e feedbacks dos turistas.
                Mas vamos além, queremos nos transformar em uma comunidade onde viajantes estejam unidos pela paixão de
                explorar novas paisagens, novos sabores e novas amizades.
            </p>
        </div>

        <div class="flex justify-between mt-7 items-center">
            <div>
                <p class="text-xs sm:text-sm md:text-xl">
                    <b> AOS DONOS DE CAMPINGS, GLAMPINGS, DEMAIS ANFITRIÕES E EXPERIÊNCIAS </b>
                </p>
                <p class="max-w-screen-sm text-justify mt-3">
                    No TuristaRV, entendemos que o seu negócio é mais do que apenas um local de hospedagem ou uma
                    experiência ao ar livre.
                    É o seu sonho, sua paixão e seu trabalho árduo. Estamos aqui para ajudá-lo a alcançar todo o
                    potencial
                    do seu camping ou experiência.
                    De ferramentas valiosas de promoção a parcerias estratégicas, nosso objetivo é impulsionar o
                    crescimento
                    e o sucesso do seu negócio.
                    Seja parte de nossa comunidade e descubra como, juntos, podemos construir um Brasil repleto de
                    possibilidades.
                </p>
            </div>

            <div class="w-6 border-l-2 border-grays4 mx-4"></div>

            <div>
                <p class="text-xs sm:text-sm md:text-xl">
                    <b> COMPARTILHAMENTO DE TERRENOS OCIOSOS </b> <br>
                </p>
                <p class="max-w-screen-sm text-justify mt-3">
                    O crescente mercado de caravanistas esbarra na falta de locais apropriados para estacionamentos
                    e
                    pernoites dos veículos de recreação (RVs), com segurança e infraestrutura básica. O caravanismo
                    cresce
                    no mundo todo, especialmente no Brasil. Nossa meta é tornar a plataforma uma ferramenta valiosa,
                    onde o
                    caravanista encontrará tudo o que precisa para tornar sua viagem uma experiência mais leve,
                    segura,
                    e
                    inesquecível, envolvendo desde rotas e roteiros a garantia de ter seu estacionamento reservado
                    aguardando sua chegada.
                </p>
            </div>
        </div>


        <div class="items-center mt-7">
            <p class="text-xs sm:text-sm md:text-xl">
                <b> PARA TURISTAS AVENTUREIROS </b>
            </p>
            <p class="text-justify">
                Se você é um espírito aventureiro em busca de
                experiências autênticas, você está no lugar certo. TuristaRV será seu guia confiável
                para descobrir os segredos escondidos do Brasil.



            </p>
            <p class="text-justify">
                Conectaremos você a campings incríveis,
                experiências emocionantes e aventuras que irão alimentar a sua alma. Junte-se a nós
                enquanto exploramos o desconhecido, criamos memórias e compartilhamos histórias de
                viagem inspiradoras.
            </p>
        </div>

        <div class="items-center mt-7">
            <p class="text-xs sm:text-sm md:text-xl">
                <b> NOSSOS VALORES </b>
            </p>
            <p class="text-justify">
                Comprometimento com a sustentabilidade, amor pela diversidade cultural e respeito pela natureza
                unem todos nós.
                Juntos, estamos construindo um legado de aventura e sucesso.
            </p>
        </div>
        
            <hr class="bg-slate-700 mt-5">
     
            <div class="flex flex-row mt-2 space-x-2 items-center font-bold text-xs sm:text-sm">
                <span class="">© 2023 Turista RV</span>
            
                <li class="group">
                    <a href="/hostess" target="_blank" rel="noopener noreferrer"
                        class="hover:text-gray-700 transition duration-300 ease-in-out underline">RV
                        Rental</a>
                </li>
            
                <li class="group">
                    <a href="/hostess" target="_blank" rel="noopener noreferrer"
                        class="hover:text-gray-700 transition duration-300 ease-in-out underline">Seja um
                        Afiliado</a>
                </li>
            </div>
            
            

        <div class="mt-5">
            Desenvolvido por
            <a href="https://4codesolutions.com" target="_blank" rel="noopener noreferrer"
                class="font-bold hover:text-gray-700 transition duration-300 ease-in-out underline">
                4 Code SolutionS
            </a>
        </div>

        <div class="flex justify-center items-center space-x-3 mt-3">
            <a href="https://www.linkedin.com/in/turistarv-estacionamentos-inteligentes-p-motorhomes-trailers-47539a232/"
                rel="noopener noreferrer" target="_blank" class="group inline-block">
                <img src="../../../assets/icons/linkedin-social.svg" alt="link linkedin"
                    class="transition duration-300 ease-in-out filter opacity-70 hover:opacity-100" width="35"
                    height="35">
            </a>

            <a href="https://www.instagram.com/turistarv_oficial/" rel="noopener noreferrer" target="_blank"
                class="group inline-block">
                <img src="../../../assets/icons/instagram-social.svg" alt=""
                    class="transition duration-300 ease-in-out filter opacity-70 hover:opacity-100" width="35"
                    height="35">
            </a>

            <a href="https://www.facebook.com/turistarvoficial/" rel="noopener noreferrer" target="_blank"
                class="group inline-block">
                <img src="../../../assets/icons/facebook-social.svg" alt="icone de montanha"
                    class="transition duration-300 ease-in-out filter opacity-70 hover:opacity-100" width="35"
                    height="35">
            </a>
        </div>
    </section>
</footer>