<div class="flex justify-center items-center space-x-3">
    <a routerLink="/" href="facebook-social" rel="noopener noreferrer" alt="link facebook TuristaRV" target="_blank" class="group inline-block">
        <img src="../../../assets/icons/facebook-social.svg" alt="icone de montanha" class="group-hover:transition duration-300 ease-in-out group-hover:filter group-hover:opacity-70" width="35" height="35">
    </a>
    
    <a routerLink="/" href="twitter-social" rel="noopener noreferrer" alt="link twitter TuristaRV" target="_blank" class="group inline-block">
        <img src="../../../assets/icons/twitter-social.svg" alt="icone motorhome"class="group-hover:transition duration-300 ease-in-out group-hover:filter group-hover:opacity-70" width="35" height="35">
    </a>
    <a routerLink="/" href="instagram-social" rel="noopener noreferrer" alt="link instagram TuristaRV" target="_blank" class="group inline-block">
        <img src="../../../assets/icons/instagram-social.svg" alt="" class="group-hover:transition duration-300 ease-in-out group-hover:filter group-hover:opacity-70" width="35" height="35">
    </a>
</div>
<footer class="flex justify-center items-center bg-grays5 rounded-t-md mt-4 p-3 h-37 mx-1">
    <p class="text-center">
        Todos os direitos reservados © <a href="https://4codesolutions.com" target="_blank" rel="noopener noreferrer" class="font-bold">4CSS</a> 2023
    </p>
</footer>
