<app-header class="mt-10 text-center font-bold"></app-header>

<!-- Seção cadastro -->
<div class="mt-32">
  <div class="flex gap-3">
    <div class="w-1/2">
      <label for="title" class="font-bold">Nome:</label>
      <input [(ngModel)]="camping.name" id="title" name="title" type="text" class="w-full p-2 border rounded" />
    </div>
    <div class="w-1/2">
      <label for="rules" class="font-bold">Regras:</label>
      <textarea [(ngModel)]="camping.propertyRules" id="rules" name="rules"
        class="resize-none w-full p-2 border rounded"></textarea>
    </div>
  </div>
  <label for="images" class="font-bold">Imagens:</label>
  <div class="flex items-center gap-3 mt-4">
    <label for="images" class="font-bold cursor-pointer">
      <span class="bg-blue-500 text-white p-2 rounded-md inline-flex items-center">
        Escolher Arquivo
        <i class="fas fa-file-upload ml-2"></i>
      </span>
      <input id="images" name="images" type="file" class="hidden"
      (change)="onChangeArquivo($event)" />
    </label>
    <button (click)="addFile()" class="bg-blue-500 text-white p-2 rounded-md"><i class="fa fa-plus"></i></button>
  </div>

  <button (click)="submit()"
    class="bg-green-700 text-white px-4 py-2 mt-4 rounded-md hover:brightness-110 transition duration-300 ease-in-out">
    Cadastrar
  </button>
</div>

<!-- Seção listagem -->
<!--bg-[#E5E5E5] bg-grays6 -->
<div class="mx-auto mt-8 border w-3/4 bg-[#E5E5E5] p-4 rounded shadow-lg">
  <h2 class="text-2xl font-bold mb-4">Lista de Campings</h2>

  <!-- Linha divisória -->
  <hr class="my-4 border-t-2 border-grays5">

  <ng-template #campingsList>
    <table class=" mt-32" id="tabela">
      <thead>
        <tr>
          <th></th>
          <th class=" text-grays4 text-left">Nome</th>
          <th class=" text-grays4">ID</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let item of campings">
          <td class="rounded-s-[5px]">
            <img *ngIf="item.images.length > 0" [src]="item.images[0].url" alt="Imagem do card" class="h-12 w-20 object-cover rounded-[5px]" />
          </td>
          <td class="my-4 items-left">{{ item.name }}</td>
          <td class="my-4 text-xs text-right">{{ item.id }}</td>
          <td class="my-4 rounded-e-[5px] ml-12 ">
            <button class="text-[#F8931F] ml-4  hover:brightness-75"><i class="fas fa-pencil-alt"></i></button>
            <button (click)="delet(item.id)"class="text-[#F8931F] mx-4 hover:brightness-75"><i class="fas fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>

  <div *ngIf="loading; else campingsList" class="mt-4 text-center">
    <span>Carregando campings...</span>
  </div>
</div>