<header class="items-center text-center mb-3">
    <div class="flex justify-start items-start w-10">
        <a routerLink="/" class="text-red-600 no-underline hover:text-red-800 hover:no-underline p-3">
            <img src="../../../assets/icons/arrow-back.svg" alt="arrow-back">
        </a>
    </div>
    <a routerLink="/">
        <img src="../../../assets/img/Logo.svg" alt="Logo" class="w-60 mx-auto mb-3">
    </a>
    <h1 class="text-24 mb-1">
        <b> DESCUBRA LUGARES INCRÍVEIS </b>
    </h1>
    <p>
        Encontre suas próximas aventuras em campings exclusivos, restaurantes e experiência por todo o Brasil.
    </p>
</header>
<div class="flex items-center h-screen">
    <div>
        <p class="mt-7">
            <b> Escolhemos o Vale Europeu </b>
        </p>
        <p class="max-w-screen-sm text-justify mt-3">
            Para implantar nosso primeiro Smart Camping (camping inteligente). Essa região é um pedacinho da Europa no
            Brasil, tendo cidades com arquitetura que lembram o Velho Continente e atrai milhares de turistas todos os
            anos, que estão em busca de belas paisagens, excelente gastronomia, choperias, chocolates, compras, festas
            típicas, etc. Esta região propicia um circuito completo de aventuras, alegrias e muita história.
            Colonizada por imigrantes alemães e italianos, ainda preserva tradições e culturas dos seus colonizadores,
            que tornam os roteiros ainda mais ricos e interessantes.
        </p>
        <img src="../../../assets/img/motorhome.svg" alt="imagem motorhome">
    </div>
    <div class="flex items-end mt-3">
        <!-- <iframe class=" absolute top-100 left-50 shadow-lg" width="530" height="315" src="https://www.youtube.com/embed/BJ5wlXcsfEM?si=EIIJgU9qyOpa4ENW"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe> -->
        <p class="max-w-screen-sm text-justify">
            O crescente mercado de caravanistas esbarra na falta de locais apropriados para estacionamentos e
            pernoites dos veículos de recreação (RVs), com segurança e infraestrutura básica. O caravanismo cresce
            no mundo todo, especialmente no Brasil. Nossa meta é tornar a plataforma uma ferramenta valiosa, onde o
            caravanista encontrará tudo o que precisa para tornar sua viagem uma experiência mais leve, segura, e
            inesquecível, envolvendo desde rotas e roteiros a garantia de ter seu estacionamento reservado
            aguardando sua chegada.
        </p>
    </div>
</div>