<header class="bg-cover bg-center items-center text-center mb-3">
    <!-- style="background-image: url(../../../assets/img/backpackers-adventure.jpg)" -->

    <div class="flex justify-start items-start w-10">

        <a routerLink="/"
            class="bg-white bg-opacity-80 rounded-2xl ml-2 mt-2 hover:brightness-90 hover:no-underline p-3"
            style="width: 90;">
            <img src="../../../assets/icons/arrow-back.svg" alt="arrow-back">
        </a>

    </div>
    <a routerLink="/">
        <img src="../../../assets/img/Logo.svg" alt="Logo" class="w-60 mx-auto ">
    </a>
    <div class="tittle-text">
        <h1 class="text-24 mb-1">
            <b> TURISTARV</b>
        </h1>
    </div>
    <div class="tittle-text">
        <h2 class="text-22 mb-1">
            <p>O portal para suas aventuras pelo Brasil!</p>
        </h2>
    </div>
    <div>
        <span>...</span>
    </div>
</header>

<body class="p-4 ">

    <div class="items-center mb-12">
        <p class="text-justify">
            <b>TURISTARV</b> é uma plataforma que conecta pessoas a destinos incríveis. Nela você encontra hospedagens
            e experiências, com conveniências como reservas, facilidades de pagamento e feedbacks dos turistas.
            Mas vamos além, queremos nos transformar em uma comunidade onde viajantes estejam unidos pela paixão de
            explorar novas paisagens, novos sabores e novas amizades.
        </p>
    </div>

    <div class="flex mt-7">
        <div>
            <p class="text-xs sm:text-sm md:text-xl">
                <b> AOS DONOS DE CAMPINGS, GLAMPINGS, DEMAIS ANFITRIÕES E EXPERIÊNCIAS </b>
            </p>
            <p class="max-w-screen-sm text-justify mt-3">
                No TuristaRV, entendemos que o seu negócio é mais do que apenas um local de hospedagem ou uma
                experiência ao ar livre.
                É o seu sonho, sua paixão e seu trabalho árduo. Estamos aqui para ajudá-lo a alcançar todo o potencial
                do seu camping ou experiência.
                De ferramentas valiosas de promoção a parcerias estratégicas, nosso objetivo é impulsionar o crescimento
                e o sucesso do seu negócio.
                Seja parte de nossa comunidade e descubra como, juntos, podemos construir um Brasil repleto de
                possibilidades.
            </p>
            <div class="ml-7">
                <img src="../../../assets/img/motorhome.svg" alt="imagem motorhome">
            </div>
        </div>

        <div class="w-6 border-l-2 border-grays4 mx-4"></div>

        <div class="flex flex-col items-center">
            <div class="mb-4" style="width:170px; height: auto;">
                <img class="rounded-full" src="../../../assets/img/field.jpeg" alt="imagem homem visualizando terreno">
            </div>
            
            <div class="text-center">
                <p class="text-xs sm:text-sm md:text-xl">
                    <b> COMPARTILHAMENTO DE TERRENOS OCIOSOS </b> <br>
                </p>
                <p class="max-w-screen-sm text-justify mt-3">
                    O crescente mercado de caravanistas esbarra na falta de locais apropriados para estacionamentos e
                    pernoites dos veículos de recreação (RVs), com segurança e infraestrutura básica. O caravanismo
                    cresce
                    no mundo todo, especialmente no Brasil. Nossa meta é tornar a plataforma uma ferramenta valiosa,
                    onde o
                    caravanista encontrará tudo o que precisa para tornar sua viagem uma experiência mais leve, segura,
                    e
                    inesquecível, envolvendo desde rotas e roteiros a garantia de ter seu estacionamento reservado
                    aguardando sua chegada.
                </p>
            </div>
        </div>
    </div>

    <div class="items-center mt-7">
        <p class="text-xs sm:text-sm md:text-xl">
            <b> PARA TURISTAS AVENTUREIROS </b>
        </p>
        <p class="text-justify">
            Se você é um espírito aventureiro em busca de
            experiências autênticas, você está no lugar certo. TuristaRV será seu guia confiável
            para descobrir os segredos escondidos do Brasil. Conectaremos você a campings incríveis,
            experiências emocionantes e aventuras que irão alimentar a sua alma. Junte-se a nós
            enquanto exploramos o desconhecido, criamos memórias e compartilhamos histórias de
            viagem inspiradoras.

        </p>
    </div>

    <div class="items-center mt-7">
        <p class="text-xs sm:text-sm md:text-xl">
            <b> NOSSOS VALORES </b>
        </p>
        <p class="text-justify">
            Comprometimento com a sustentabilidade, amor pela diversidade cultural e respeito pela natureza
            unem todos nós.
            Juntos, estamos construindo um legado de aventura e sucesso.
        </p>
    </div>
</body>