<div class="parent bg-grays4 fill-transparent w-full h-[20rem] rounded">
     
    <div class="bg-greenDark w-36 h-[3.5rem] rounded">
      <p class="text-white text-center mt-2 font-bold">
        A001
      </p>
      <p class="text-white text-center text-12 ">
        120m X 90m
      </p>
    </div>
    <div class="bg-red-400 opacity-80 w-36 h-[3.5rem] rounded">
      <p class="text-white text-center  mt-2 font-bold">
        A002
      </p>
      <p class="text-white text-center text-12">
        70mX90m
      </p>
    </div>
    <div class="bg-greenDark w-36 h-[3.5rem] rounded">
      <p class="text-white text-center mt-2 font-bold">
        A003
      </p>
      <p class="text-white text-center text-12">
        120m X 90m
      </p>
    </div>
    <div class="bg-greenDark w-36 h-[3.5rem] rounded">
      <p class="text-white text-center mt-2 font-bold">
        A004
      </p>
      <p class="text-white text-center text-12">
        120m X 90m
      </p>
    </div>
    <div class="bg-greenDark w-36 h-[3.5rem] rounded">
      <p class="text-white text-center mt-2 font-bold">
        A005
      </p>
      <p class="text-white text-center text-12">
        120m X 90m
      </p>
    </div>
    <div class="bg-greenDark w-36 h-[3.5rem] rounded">
      <p class="text-white text-center mt-2 font-bold">
        A006
      </p>
      <p class="text-white text-center text-12">
        120m X 90m
      </p>
    </div>
</div>