<div
  class="flex flex-row gap-5 flex-wrap items-center justify-center"
  *ngIf="!skeleton.isLoading"
>
  <app-camping
    *ngFor="let camping of campings"
    [url]="camping.images[0].image.url"
    [title]="camping.name"
    [id]="camping.id"
    (click)="redirectToCampingDetails(camping.id)"
  ></app-camping>
</div>
<div class="" *ngIf="campings.length === 0 && !skeleton.isLoading">
  Nenhum camping encontrado
</div>
<div class="flex flex-col md:flex-row gap-5">
  <app-skeleton mode="rounded" width="250px" height="250px"></app-skeleton>
  <app-skeleton mode="rounded" width="250px" height="250px"></app-skeleton>
  <app-skeleton mode="rounded" width="250px" height="250px"></app-skeleton>
</div>
