<nav class="p-4">
 
    <!-- Menu de navegação (exibido em telas maiores) -->
    <section class="flex items-center space-x-3 mt-3">
        <ul id="menuHamburguer" class="hidden md:flex md:space-x-4 md:text-white" [ngClass]="{'active': isMenuOpen}">
            <li>
                <a routerLink="/" href="mount-icon" class="group inline-block relative">
                    <img src="../../../assets/icons/mountain-icon.png" alt="menu de lugares"
                        class="group-hover:transition duration-300 ease-in-out group-hover:filter group-hover:invert"
                        width="35" height="35">
                    <div
                        class="text-xs mt-1 opacity-0 group-hover:opacity-100 transition-opacity duration-300 absolute -bottom-6 left-1/2 transform -translate-x-1/2">
                        Lugares
                    </div>
                </a>
            </li>
            <li>
                <a routerLink="/" href="motorhome-icon" class="group inline-block relative">
                    <img src="../../../assets/icons/motorhome-icon.png" alt="menu motorhome"
                        class="group-hover:transition duration-300 ease-in-out group-hover:filter group-hover:invert"
                        width="35" height="35">
                    <div
                        class="text-xs mt-1 opacity-0 group-hover:opacity-100 transition-opacity duration-300 absolute -bottom-6 left-1/2 transform -translate-x-1/2">
                        Motorhome
                    </div>
                </a>
            </li>
            <li>
                <a routerLink="/about" href="mount-icon" class="group inline-block relative">
                    <img src="../../../assets/icons/about-icon.png" alt="menu sobre"
                        class="group-hover:transition duration-300 ease-in-out group-hover:filter group-hover:invert"
                        width="35" height="35">
                    <div
                        class="text-xs mt-1 opacity-0 group-hover:opacity-100 transition-opacity duration-300 absolute -bottom-6 left-1/2 transform -translate-x-1/2">
                        Sobre
                    </div>
                </a>
                <div class="items-end group inline-block  ml-32">
                    <a routerLink="/login" class="text-orangeDark no-underline hover:text-red-300">Entrar</a>
                </div>
            </li>
        </ul>
    </section>
</nav>