<p-table #dt [value]="campings" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name', 'rules']"
[paginator]="true" [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true"
currentPageReportTemplate="{first} até {last} de {totalRecords} registros" [(selection)]="selectedCampings"
selectionMode="multiple" [rowHover]="true" dataKey="id">
<ng-template pTemplate="caption">
  <div class="flex flex-column md:flex-row md:justify-between md:items-center">
    <h5 class="m-0">Administrar Campings</h5>
    <span class="block mt-2 md:mt-0 p-input-icon-left">
      <i class="fa fa-search"></i>
      <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Pesquisar..."
        class="w-full sm:w-auto" />
    </span>
  </div>
</ng-template>
<ng-template pTemplate="header">
  <tr>
    <th style="width: 3rem">
      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
    </th>

    <th>Imagem</th>
    <th pSortableColumn="name">
      Nome <p-sortIcon field="name"></p-sortIcon>
    </th>
    <th>Facilidades</th>
    <th pSortableColumn="active">
      Status <p-sortIcon field="active"></p-sortIcon>
    </th>
    <th>Ações</th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-camping>
  <tr>
    <td>
      <p-tableCheckbox [value]="camping"></p-tableCheckbox>
    </td>

    <td style="min-width: 10rem" [ngClass]="{ 'text-red-700': !camping.active }">
      <span class="p-column-title">Image</span>
      <img *ngIf="camping.images.length > 0" [src]="camping.images[0].url" width="100" class="shadow-4" />
    </td>
    <td style="min-width: 10rem" [ngClass]="{ 'text-red-700': !camping.active }">
      <span class="p-column-title">Nome</span>
      {{ camping.name }}
    </td>
    <td [ngClass]="{ 'text-red-700': !camping.active }">
      <div class="flex gap-2 flex-wrap">
        <div class="border rounded p-1" *ngFor="let rule of getRules(camping.propertyRules)">
          <i class="fa {{ rule.icon }}"></i>
          {{ rule.name }}
        </div>
      </div>
    </td>
    <td style="min-width: 10rem">
      <i class="fa-regular fa-circle-check fa-xl" style="color: #0b655b" *ngIf="camping.active"></i>
      <i class="fa-regular fa-circle-xmark fa-xl" style="color: #db0000" *ngIf="!camping.active"></i>
    </td>
    <td>
      <div class="flex">
        <button pButton pRipple icon="fa fa-pencil" class="p-button-rounded p-button-success mr-2"
          (click)="editCamping(camping)"></button>
        <button pButton pRipple icon="fa fa-trash" class="p-button-rounded p-button-warning"
          (click)="deleteCamping(camping)"></button>
      </div>
    </td>
  </tr>
</ng-template>
</p-table>